@font-face {
	font-family: "IBMPlexSans";
	src: url("/fonts/IBMPlex/sans/woff/IBMPlexSans-Regular.woff") format("woff"),
		url("/fonts/IBMPlex/sans/woff2/IBMPlexSans-Regular.woff2") format("woff2");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "IBMPlexMono";
	src: url("/fonts/IBMPlex/mono/woff/IBMPlexMono-Regular.woff") format("woff"),
		url("/fonts/IBMPlex/mono/woff2/IBMPlexMono-Regular.woff2") format("woff2");
	font-style: normal;
	font-stretch: normal;
}
