html {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background: var(--color-white);
}

img,
svg {
	display: block;
}

svg {
	overflow: visible;
}