.typo {
	&-label {
		font-family: "IBMPlexMono", monospace;
		font-size: 14px;
		letter-spacing: 0.02em;
		@media (--l) {
			font-size: 12px;
		}
	}
	&-small {
		font-family: "IBMPlexSans", sans-serif;
		font-size: 14px;
		@media (--l) {
			font-size: 12px;
		}
	}
	&-p {
		font-family: "IBMPlexSans", sans-serif;
		font-size: 18px;
		@media (--l) {
			font-size: 16px;
		}
	}
	&-h1 {
		font-family: "IBMPlexSans", sans-serif;
		font-size: 40px;
		@media (--l) {
			font-size: 64px;
		}
	}
	&-h2 {
		font-family: "IBMPlexSans", sans-serif;
		font-size: 32px;
		line-height: 1.125;
		@media (--l) {
			font-size: 36px;
		}
	}
	&-h3 {
		font-family: "IBMPlexSans", sans-serif;
		font-size: 24px;
	}
}

/* Trim https://seek-oss.github.io/capsize/ */
